<html>
    <head>
        <title> Welcome! </title>
        <link rel = "stylesheet" type="text/css" href="css/dashboard.css">
    </head>
    <body>
        <div class="header">
            <h1> DES Encryption </h1>
        </div>

        <div class="dashboard">
            <h1> Welcome <%=data[0].firstname %></h1>
            <br>
            <h3> Firstname: <%=data[0].firstname %></h3>
            <h3> Lastname: <%=data[0].lastname %></h3>
            <h3> Email: <%=data[0].email %></h3>
            <h3> Username: <%=data[0].username %></h3>
            <h3> Password:<%=data[0].password %> </h3>
        </div>
        
    </body>
</html>